<nav aria-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to 'Top', root_path %></li>
    <li class="breadcrumb-item">
          <%= link_to 'Conference', conference_path(@day.conference) %></li>
    <li class="breadcrumb-item">Day</li>
  </ol>
</nav>

<h1><%= @day.title %> (<%= @day.pdate %>)</h1>
<%= render 'timetable', day: @day %>

