<p>
<table class='table table-striped'>
<% if p.authors %>
  <tr><th width='10%'><%= t 'dictionary.presentation.authors' %></th>
                                                           <td><%= p.authors %></td></tr>
<% end %>
<% if p.presenter %>
  <tr><th><%= t 'dictionary.presentation.presenter' %></th>  <td><%= p.presenter %></td></tr>
<% end %>
  <tr><th><%= t 'dictionary.presentation.description' %></th><td><%= p.description %></td></tr>
<% if current_user && p.url %>
  <tr><th>URL</th>                                           <td><%= auto_link(h(p.url)) %></td></tr>
<% end %>
<% if p.misc %>
  <tr><th><%= t 'dictionary.presentation.misc' %></th>       <td><%= p.misc %></td></tr>
<% end %>
<% if current_user&.is_admin? %>
  <tr><th><%= t 'dictionary.presentation.email' %></th>      <td><%= p.contact_email %></td></tr>
  <tr><th><%= t 'dictionary.presentation.disclose' %></th> 
              <td><%= (p.disclose != nil and p.disclose == true) ? "OK" : "Not yet" %></td></tr>
<% end %>
</table>
</p>
